:root {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: rgb(238, 238, 238);
  overflow: auto;
}

body::-webkit-scrollbar {
  overflow: hidden;
}

.text__primary {
  color: #0fa588 !important;
}

.color__primary {
  background: #0fa588 !important;
}

.color__primary-80 {
  background: #3fb7a0 !important;
}

.color__primary-70 {
  background: #57c0ac !important;
}

.color__primary-60 {
  background: #6fc9b8 !important;
}

.color__primary-50 {
  background: #87d2c3 !important;
}

.color__primary-40 {
  background: #9fdbcf !important;
}

.color__primary-30 {
  background: #b7e4db !important;
}

.color__primary-20 {
  background: #cfede7 !important;
}

.color__primary-10 {
  background: #e7f6f3 !important;
}

.color__secondary {
  background: #f7901e !important;
}

.color__secondary-80 {
  background: #f9a64b !important;
}

.color__secondary-70 {
  background: #f9b162 !important;
}

.color__secondary-60 {
  background: #fabc78 !important;
}

.color__secondary-50 {
  background: #fbc78f !important;
}

.color__secondary-40 {
  background: #fcd3a5 !important;
}

.color__secondary-30 {
  background: #fddebb !important;
}

.color__secondary-20 {
  background: #fde9d2 !important;
}

.color__secondary-10 {
  background: #fef4e8 !important;
}
